/* RESET */
html,body,div,ul,table,td,tr,th{
  margin:0;
  padding:0;
}
table,td, th{
  border-collapse: collapse;
  text-align: center;
  padding:10px;
}
li{
  list-style-type: none;
}
h1{
  margin: 0;
  padding: 0;
}
input[type='radio'],
input[type='checkbox']
{
  margin-top: -1px;
  vertical-align: middle;
}
/* COMMON */
.container{
  width: 1080px;
  left: 0;
  right: 0;
  margin: auto;
}
.btn{
  border:1px solid #08a600;
  background: #4ec53d;
  color: #fff;
  cursor: pointer;
}
.border{
  border: 1px solid #d1d1d1;
}
/* HEADER */
.header{
  background: #000;
  width: 100%;
}
header.container{
  height: 120px;
  box-sizing: border-box;
}
header.container h1{
  line-height: 120px;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}
.bold{
  font-weight: bold;
}

/* CONTENTS */
.contents .container{
  padding: 40px;
}
.contents .container .list{
  display: flex;
}
.contents .container .list li{
  font-size: 16px;
  height: 33px;
  width: calc(1000px/3 - 14px);
  margin-right: 14px;
  line-height: 33px;
  text-align: center;
  border: 1px solid #d1d1d1;
}
.contents .container .list li:last-child{
  margin-right: 0;
}
.contents .container .list li:hover{
  border-color: #454545;
  font-weight: bold;
}

.mainContents h3{
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.mainContents .contents-list{
  width: 1000px;
  border-top: 1px solid #454545;
}

.mainContents .contents-list .content-box{
  margin-top: 30px;
  box-sizing: border-box;
  width: 1000px;
}
.mainContents .contents-list .content-name{
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  font-weight: bold;
  color: #333;
  background: #f7f7f7;
  border-bottom: 1px solid #d1d1d1;
  padding-left: 15px;
}
.mainContents .contents-list .content-area{
  padding:30px;
  font-size: 12px;
  color: #000;
}

/* TABLE CONTENTS */
.mainContents .contents-list .content-area.size .table-name{
  font-size: 14px;
}
.mainContents .contents-list .content-area .content{
  width: 100%;
}
.mainContents .contents-list .content-area.size th,
.mainContents .contents-list .content-area.size table,
.mainContents .contents-list .content-area.size td
{
  border: 1px solid #e4e4e4;
  background: #fbfbfb;
  font-size: 12px;
  color: #555;
}
.mainContents .contents-list .content-area.refund table{
  background: #fbfbfb;
  font-size: 12px;
  color: #555;
}
.mainContents .contents-list .content-area.refund th{
  border-collapse: collapse;
  font-weight: 400;
  border-top: 2px solid #a5a5a5;
  border-bottom: 1px solid #e4e4e4;
}
.mainContents .contents-list .content-area.refund .bold{
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #e4e4e4;
}
.mainContents .contents-list .content-area.refund .align-right{
  text-align: right;
}

/* FORM CONTENT */
.mainContents .contents-list .form .form-name{
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin: 20px 0;
}
.mainContents .contents-list .form .content{
  font-size: 12px;
  color: #000;
  padding: 20px;
  background: #fbfbfb;
  box-sizing: border-box;
}
.mainContents .contents-list .form .content .input{
  outline: none;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.mainContents .contents-list .form .content .select-box{
  display: flex;
}
.mainContents .contents-list .form .content .select-box .input{
  margin-right: 10px;
}
.mainContents .contents-list .form .content .select-box .input:last-child{
  margin-right: 0;
}
.mainContents .contents-list .form .content .user-gender input+label{
  display: inline-block;
  margin-right: 70px;
} 
.mainContents .contents-list .form .content .user-phone .phone-number{
  display: inline-block;
  width: 80%;
  margin-bottom: 5px;
}
.mainContents .contents-list .form .content .user-phone .btn{
  width: 18%;
  padding: 8px;
  box-sizing: border-box;
}
.mainContents .contents-list .form .content .user-phone .certification{
  margin-top: 0;
}
.mainContents .contents-list .form .content .user-hobby input[type='checkbox']+label{
  display: inline-block;
  margin-right: 50px;
}
.mainContents .contents-list .form .content .user-greeting textarea{
  resize: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.mainContents .contents-list .form .submit{
  width: 100%;
  box-sizing: border-box;
  padding:8px;
  font-size: 16px;
}

/* FOOTER */
footer{
  display: flex;
  border-top: 1px solid #d1d1d1;
  font-size: 12px;
  text-align: center;
  height: 120px;
  flex-direction: column;
  justify-content: center;
}

footer .info{
  color: #999;
}
footer .copyright{
  color: #000;
}

